<div class="container">
  <header><center><img src="https://www.tops.org/tops/images/TOPS/FeaturedArticles/RecipeOfTheMonth/meal-plan-fruit-banner.jpg" class="img-responsive main-image"></center></header>
  <div class="col-md-10. col-md-offset-2">
    <h2>Welcome to Calorie Counter</h2>
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/simplex/bootstrap.min.css>
    <div class="content">
      <p>Welcome to Calorie Counter! With this app you will be able to store your daily nutritional information to stay on track with a healthy diet.</p>
    </div>

    <div class="sidebar">
      <h2><a href="/login"><b>Login</b></a></h2>
      
      <p> No account? <a href="/signup"><b>Sign Up</b></a></p>
    </div>

  </div>
</div>