<div class="container">
<h1>Sign Up</h1>
<br>

<% if flash.has?(:message) %>
  <p style="color:#f73325;"><%= flash[:message] %> </p>
<% end %>

<ul>

<form method="POST" action="/signup">
  
  <li><input type="text" name="user[username]" id="username" placeholder= "Username:"></li>
  <li><input type="email" name="user[email]" id="email" placeholder= "Email:"></li>
  <li><input type="password" name="user[password]" id="password" placeholder="Password:"></li>
  
  <input type="submit" value="Sign Up">
  
</form>
</ul>

</div>