<h1>Create New Entry</h1>
<br>

<% if flash.has?(:message) %>
  <p style="color:#f73325;"><%= flash[:message] %> </p>
<% end %>

<h5><form action="/entries" method="POST">
  
  
<select id="meal" name="entry[meal]">
  <option value="Breakfast">Breakfast</option>
  <option value="Lunch">Lunch</option>
  <option value="Dinner">Dinner</option>
  <option value="Snack">Snack</option>
  <option value="Drink">Drink</option>
</select>
  <br>
  <input type="text" name="entry[food_type]" placeholder="Food Type">
  <br>
  <input type="number" name="entry[calories]" min="0.01" step="0.01" max="9999999.99" placeholder="Calories">
  <br>
  <input type="date" name="entry[date]">
  <br>
  <input type="submit" value="Create Entry">
</form></h5>